.calculator {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
}

.calculator__output {
  flex-basis: calc(100% / 4 * 3);
}

.calculator__input {
  flex-basis: calc(100% / 4);
}

.calculator__clear {
  flex-basis: calc(100% / 4);
  background: lightcoral;
}

.calculator__operator {
  flex-basis: calc(100% / 4);
  background: lightgreen;
}

.calculator__result {
  flex-basis: calc(100% / 4);
  background: lightblue;
}
